@using System.Text.RegularExpressions
@functions {

    public static bool IsAbsolute(string url) {
        return Regex.IsMatch(url, @"^.+://.*$");
    }

}

<div class="item-group">
    @if (Model.Url == null) {
        <h4>@Model.Title</h4>
    }
    else {
        <h4>
            @Html.Link((string) Model.Title, IsAbsolute(Model.Url as string)
                ? (string) Model.Url
                : Url.Content("~/" + (string) Model.Url))</h4>
    }

    @if (Model.Children.Count > 0) {
        <ul>
            @DisplayChildren(Model.Children)
        </ul>
    }
</div>
